body {
  background:white;
  margin:0;  
  font-family:'Trebuchet MS',Trebuchet,Arial,Verdana,Sans-serif;
  font-size:13px;
  color: #215670;
  width: 100%;

  }
  #container {
  width: 1000px;
  padding-left:0px; 
  margin: 0px auto;
  background-color: white;  
  }
  

a:link {
  color:#003366;
  text-decoration:none;
  }
a:visited {
  color:#003366;
  text-decoration:none;
  }
a:hover {
  color:#666666;
  text-decoration:none;
}
a img {
  border-width:0;
  }

/* Header
-----------------------------------------------
 */



#header { 
  
  text-align: center;

}

#header a, h1 a {
  line-height:1.2em;
  font: normal normal 249% Georgia, Times, serif;
  font-size: 15px;
  text-decoration:none;
  color: #d9ecff
}

#header a {
  width:100%;
  background:white url('../images/banner.png') no-repeat center;
  height: 200px;
  display: block;
  text-align: center;
  }


p {
  margin: 10px 0;
}

strong {
  font-weight: bold;
}

em {
  text-decoration: italic;
}


/* Headings
----------------------------------------------- */

h2, h3, h4 {
  margin:1.5em 0 .75em;  
  line-height: 1.4em;
  letter-spacing:.2em;
  
}
h2{
  font-size:25px;
}
h3{
  font-size:15px;
}

/* Posts
-----------------------------------------------
 */
 #content {
  margin: 0 auto;
  position: relative;
  padding-top: 15px;
}

 #maincol {
  background-color:white;
   font-size:15px;
   width: 800px;
   float: left;
   

}
 #maincol .date {
 
   font-size:13px;
   padding-bottom:5px;
  }

#maincol .post {
  margin:.5em 0 1.5em;
  border-bottom:1px dotted #215670;
  padding-left:11px;
  
  padding-bottom:1.5em;
  font-size: 15px;
 
  
  
  }
#maincol .post h2 {
  margin:.25em 0 0;
  padding:0 0 4px;
  font-size:20px;

  line-height:1.4em;
  color:#003366;
}

#maincol .post h3 a, .post h3 a:visited, .post h3 strong {
  display:block;
  text-decoration:none;
  color:#003366;
  font-size:150%;

}

#maincol .post h3 normal, .post h3 a:hover {
  color:#215670;
   font-size:20px;
}

#maincol .post p {
  margin:0 0 .75em;
  line-height:1.6em;
  font-size:15px;
}

#maincol .post-footer {
  margin: .75em 0;
  color:#4c4c4c;

  
  font: normal normal 91% Trebuchet, Trebuchet MS, Arial, sans-serif;
  line-height: 1.4em;
}

#subcol {
	  background-color:white;
	  vertical-align: top;
	  width: 200px;
	  height: 500px;
	  float: right;
 }


#subcol .twitter {
  
  display: block;
  height: 200px;
}
#subcol .github {
  padding-top: 15px;
 
  display: block;
  height: 200px;
}

.clear { clear: both;}


